.card-columns {
    column-count: 2;
  }

  #news-cards {
    margin-left: 5%;
    width: 90%;
  }
  
  .card {
    border: 1.2px solid black;
    color: black;
  }

  .card :hover {
    background-color: rgb(238, 238, 238);
    color: blue;
  }