.card-columns {
    column-count: 3;
  }

  #news-cards {
    margin-left: 5%;
    width: 90%;
  }
  
  .card {
    border: 1.2px solid rgb(153, 153, 153);
    color: black;
    box-shadow: 2px 2px 0 rgb(165, 165, 165);
  }

  .card :hover {
    background-color: rgb(238, 238, 238);
    color: blue;
  }

  #marquee {
    background: linear-gradient(to right, rgb(48, 46, 46) 60%, rgb(77, 47, 247));
    color: white;
    font-size: 0.9rem;
  }

  body {
    overflow-x: hidden;
  }

  #block-data {
    font-size: 0.9rem;
  }

  #sources {
    margin-left: 25%;
  }

  #sources
  span {
    color: blue;
  }

  h1 {
    max-width: 99%;
  }

  #block-cypher {
    font-size: 0.9rem;
    word-wrap: break-word;
   overflow-x: hidden !important;
   overflow-y: hidden !important;
  }

  #block-cypher :hover {
    text-decoration: none;
    color: darkblue;
  }

  .explorers,
  .blockData {
    color: blue;
  }

  #block-data :hover {
    color: darkblue !important;
  }

  @media only screen and (max-device-width: 780px) {
h1 {
  margin-left: 0.5rem;
}

    .card-columns {
    column-count: 1;
  }

   #marquee {
    background: linear-gradient(to right, rgb(48, 46, 46) 60%, rgb(77, 47, 247));
    font-size: 1.4rem;
  }
    }