body {
  background-image: linear-gradient(to bottom, rgb(48, 46, 46), white);
  overflow-x: hidden !important;
}

#top {
  position: fixed;
  z-index: 1;
  min-width: 105% !important;
}

.mN {
  color: white;
  text-shadow: 3px 0px 0 black;
  text-decoration: none !important;
}

.mN :hover {
  color: blue;
}

.card-columns {
  column-count: 4;
}

#news-cards {
  margin-left: 5%;
  width: 90%;
}
  
.card {
  border: 1px solid rgb(153, 153, 153);
  color: black;
  box-shadow: 2px 2px 0 rgb(165, 165, 165);
  border-radius: 10px;
}

.card :hover {
  color: blue;
}

.card-img-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25vh;
}

#marquee {
  background: linear-gradient(to right, rgb(48, 46, 46) 40%, rgb(77, 47, 247));
  color: white;
  font-size: 0.9rem;
}

#block-data,
#hashrate {
   font-size: 0.9rem;
}

#sources {
  margin-left: 25%;
}

#sources
span {
  color: blue;
}

h1 {
  max-width: 99%;
}

#mN {
  color: linear-gradient(to right, rgb(48, 46, 46) 60%, rgb(77, 47, 247));
}

#block-cypher,
#hashrate,
#crypto,
#marketCap {
  color: white;
  font-size: 0.9rem;
  word-wrap: break-word;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

#block-cypher :hover,
#hashrate :hover,
#marketCap :hover {
  text-decoration: none;
  color: blue;
}

#crypto :hover {
  color: yellow;
}

#marquee :hover {
  text-decoration: none;
}

.explorers,
.blockData {
  color: white;
}

#block-data :hover {
  color: blue !important;
}

#arrow {
  color: black;
}

#arrow-div :hover {
  text-decoration: none !important;
}

@media only screen and (max-device-width: 780px) {
  
  body {
    overflow-x: hidden !important;
  }

  #top {
    margin-top: 0% !important;
    padding-top: 0% !important;
    min-width: 110% !important;
  }

  h1 {
    margin-left: 0.5rem;
  }

  .card-columns {
    column-count: 1;
   }

  #marquee {
    background: linear-gradient(to right, rgb(48, 46, 46) 15%, rgb(77, 47, 247));
    font-size: 0.9rem;
  }

  .card-img-bottom {
    height: 30vh;
  }

  .card {
    margin-bottom: 8% !important;
  }

}